.main {
    width: 50%;
    padding: 1em;
    margin: 0 auto;
    border: 2px solid;
    background-color: bisque;
}

span {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family:algerian,courier;
    color: aqua;
    text-align: center;
}
